---
import MainLayout from "../layouts/main-layout.astro";
import Header from "../components/header.astro";
---

<MainLayout title='ink ui' description='ink ui — a warm component library'>
  <div class='flex flex-col'>
    <Header />
    <main class='flex grow flex-col md:pr-12'>
      <div class='mx-auto w-full grow md:border-r md:border-gray-200 dark:md:border-gray-800'>
      </div>
    </main>
  </div>
</MainLayout>
